.header__hero {
        background-image: url('../img/header/headerbg1920.webp');
}
@media screen and (min-resolution: 2dppx) {
    .header__hero {
        background-image: url('/img/header/headerbg1920@2x.webp');
    }
}
@media screen and (min-resolution: 3dppx) {
    .header__hero {
        background-image: url('/img/header/headerbg1920@3x.webp');
    }
}