// font size
$baseFontSize: 16px;

// font family
$aleoFont: 'Aleo', 'Times New Roman', serif;
$josefinSansFont: 'Josefin Sans', Helvetica, sans-serif;
// $aleoFont: 'Aleo',  serif;
// $josefinSansFont: 'Josefin Sans', sans-serif;

// COLORS
$whiteColor: #fff;
$blackColor: #000;
$darkGrayColor: #333333;
$textGrayColor: #999;
$accentColor: #5373FD;
$accentDarkerColor: #486BFE;
$redColor: #FF6363;
$blueColor: #00A2FF;