.review {
    background-image: url('../img/reviewbg/rbg1024.webp');
    padding: 120px 0 180px;
    &__block {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        align-self: center;
    }
}
@media screen and (min-resolution: 2dppx) {
    .review {
        background-image: url('../img/reviewbg/rbg1024@2x.webp');
    }
}
@media screen and (min-resolution: 3dppx) {
    .review {
        background-image: url('../img/reviewbg/rbg1024@3x.webp');
    }
}