.to-do {
    padding: 61px 0;
    background-color: $darkGrayColor;
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item{
        max-width: 364px;
        height: 139px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 96px;
            height: 96px;
            margin-bottom: 8px;
        }
        span {
            color: $whiteColor;
            text-transform: capitalize;
            font-family: $aleoFont;
            font-weight: 400;
            font-size: rem(36px);
        }
    }
}